<section class="signup">
	@if(prompt === true)
		<p class="prompt content-font">want to recieve backspin in your inbox?</p>
	@end
	<form class="newsletter" action="/signup" method="POST">
		<input name="email" type="email" placeholder="{{ emailPlaceholder || 'cool@person.com' }}" class="purdy" required>
		<input name="submit" type="submit" value="{{ submitText || 'sign up' }}" accesskey="s" class="purdy">
	</form>
</section>