<section class="signup">
	<form class="newsletter">
		<input name="newsletter" type="email" placeholder="{{ emailPlaceholder || 'cool@person.com' }}" class="mono" required>
		<input name="newsletter" type="submit" value="{{ submitText || 'sign up' }}" accesskey="s" class="mono">
	</form>
</section>