@include('../partials/head')
    <section id="edition">
        @!component('../components/edition', { edition, heading: true })
    </section>
    <section id="events">
    @stack('this-week')
    @each(event in await events)
        @let(doc = await $markdown.render({
            file: event,
        }))
        @if(dateCompare.withinNextWeek(doc.frontmatter.date))
            @pushOnceTo('this-week')
                <h2 class="header-font">*This Week</h2>                               
            @end
            @pushTo('this-week')
                @!component('../components/event', { doc })
            @end
        @end
    @end
    </section>
@include('../partials/foot')
