{{-- forgive the Date() crimes I've committed in this file --}}

{{-- loop over our absolute paths and render them to each of the above stacks where appropriate --}}
@each(stop in await stops)
    @let(doc = await $markdown.render({
        file: stop,
    }))
    @if(dateCompare.withinNextWeek(doc.frontmatter.date))
        @!component('../components/stops/thisWeek', { doc })
    @elseif(dateCompare.beyondNextWeek(doc.frontmatter.date))
        @!component('../components/stops/upcoming', { doc })
    @elseif(dateCompare.isDateBefore(doc.frontmatter.date, new Date().toISOString()))
        @!component('../components/stops/past', { doc })
    @end
@end

@include('../partials/head')
    <section id="stops">
        <section class="sheet">
            @!component('../components/header')
            @stack('debug')
            @stack('this-week')
            @stack('upcoming')
            @stack('past')
            @!component('../components/signup', { prompt: true })
        </section>
    </section>
@include('../partials/foot')

