@include('../partials/head')
  @!component('../components/hero')
  @each(edition in await editions)
    @!component('../components/edition', { edition, heading: false })
  @end
@include('../partials/foot')
