@include('../partials/head')
  @!component('../components/hero')
  @each(path in await absolutePaths())
    @!component('../components/edition', { path, heading: false })
  @end
@include('../partials/foot')
