{{-- forgive the Date() crimes I've committed in this file --}}

{{-- loop over our absolute paths and render them to each of the above stacks where appropriate --}}
@each(path in await absolutePaths)
    @let(doc = await $markdown.render({
        file: path,
    }))
    @if(dateCompare.isDateWithinOneWeek(doc.frontmatter.date))
        @pushOnceTo('this-week')
            <h2 class="header-font">*This Week</h2>                               
        @end
        @pushTo('this-week')
            @!component('../components/stop', { doc })
        @end
    @elseif(dateCompare.isDateAfterOneWeek(doc.frontmatter.date))
        @pushOnceTo('upcoming')
            <h2 class="header-font">*Upcoming</h2>
        @end
        @pushTo('upcoming')
            @!component('../components/stop', { doc })
        @end
    @elseif(dateCompare.isDateBefore(doc.frontmatter.date, new Date().toISOString()))
        @pushOnceTo('past')
            <h2 class="header-font">*Past</h2>
        @end
        @pushTo('past')
            @!component('../components/stop', { doc })
        @end
    @end
@end

@include('../partials/head')
    <section id="stops">
        <section class="sheet">
            @!component('../components/header')
            @stack('debug')
            @stack('this-week')
            @stack('upcoming')
            @stack('past')
            @!component('../components/signup', { prompt: true })
        </section>
    </section>
@include('../partials/foot')

